# Unifica las identidades de Angel Fabian Gutierrez Gomez (S9)
# Formato: Nombre canonico <correo canonico> Nombre en commit <correo en commit>
Angel Fabian Gutierrez Gomez <hailrobot05@gmail.com> RobotDRMX <hailrobot05@gmail.com>
Angel Fabian Gutierrez Gomez <hailrobot05@gmail.com> <2023371093@uteq.edu.mx>
